@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500&display=swap');
 

:root {
  --primary: #7FB77E;
  --secondary: #A3C9A8;
  --background: #FAFAF7;
  --text-dark: #333333;
  --accent: #C2A75E;
  --green-primary: #6f8f52;
  --green-dark: #4f6f3a;
  --green-soft: #8faa6b;
  --text-dark: #2b2b2b;
  --text-light: #ffffff;
  --bg-light: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text-dark);
    min-height: 2000px;
}

/* NAVIGATION BAR STYLE */

.navbar {
    background: var(--primary);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-decoration: none;
    
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 15px 5%;
    text-decoration: none;
}

.logo {
    font-family: archivo black, sans-serif;
    flex: 1; 
    font-size: 24px;
    font-weight: bold;
    color: var(--text-dark);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

.nav-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#hamburger-menu {
    display: none;
}

.nav-menu a {
    font-family: poppins, sans-serif;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-menu a:hover {
    color: #4b4b4b;
}

/* .navbar .navbar-container .nav-menu a {
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
} */

.nav-icons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-icons i {
    font-size: 1.2rem;
}

.nav-icons i:hover {
    color: #4b4b4b;
}

/* HERO CONTENT STYLE */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background: linear-gradient(135deg, var(--green-primary), var(--green-dark));
    color: var(--text-light);
    min-height: 100vh;
    width: 100%;
}


.hero-content {
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

.hero-content h1 {
    font-family: archivo black, sans-serif;
    font-size: 48px;
    margin-bottom: 16px;
    color: #333333;
    text-decoration: none;
}

.hero-content p {
    font-family: poppins, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 8px;
    color: #333333;
    text-decoration: none;
}

.btn {
    background: var(--green-primary);
    color: var(--text-light);
    text-decoration: none;
    border: none;
    padding: 14px 28px;
    font-size: 18px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #9bc07a;
}

.hero-image img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
}

/* ABOUT SECTION STYLE */

.about-content {
    padding: 10rem 7% 1.4rem;
    background: var(--bg-light);
    color: var(--text-dark);
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

.about-content h2 {
    font-family: archivo black, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content h2 span {
    font-family: archivo black, sans-serif;
    font-size: 36px;
    color: var(--primary);
    margin-bottom: 20px;
}

.about-content .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: left;
    margin-top: 2rem;
}

.about-content p {
    font-family: poppins, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-dark);
}

.about-content a {
    display: inline-block;
    margin-top: 30px; 
    padding: 14px 28px;
    background-color: #6b8e4e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about-image {
    flex: 1 1 300px;
}

.about-text {
    flex: 1 1 500px;
}

.about-content img {
    width: 100px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

/* MENU STYLE */
.menu {
    padding: 6rem 0;
    background: var(--green-soft);
    color: var(--text-dark);
    text-align: center;
    justify-content: center;
}

.menu-header h2 {
    font-family: archivo black, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.menu-header h2 span {
    font-family: archivo black, sans-serif;
    font-size: 36px;
    color: var(--text-light);
    margin-bottom: 20px;
}

.custom-card {
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: 0.3s;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card h5 {
     font-family: archivo black, sans-serif;
     font-size: 20px;
     margin-bottom: 10px;
}

.custom-card p {
     font-family: poppins, sans-serif;
     font-size: 12px;
}

.card-img-container img {
    border-radius: 15px;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--green-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-menu {
    background: var(--green-primary);
    color: var(--text-light);
    text-decoration: none;
    border: none;
    padding: 14px 28px;
    font-size: 18px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.btn-menu:hover {
    background-color: #9bc07a;
}


/* FOOTER STYLE */
footer h6 {
    font-family: 'Archivo Black', sans-serif;
    color: #000000 !important;
    font-weight: bold;
}

footer,
footer h6,
footer p,
footer a,
footer i,
.copyright-section,
.footer-brand {
    color: #333333 !important;
}

footer h6,
.footer-brand {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
}

footer p, 
footer p a, 
footer p i,
.copyright-section {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

footer a:hover {
    color: #000000 !important;
    text-decoration: underline;
}

footer,
.copyright-section,
.footer-brand {
    color: #333333 !important;
    font-family: 'Archivo Black', sans-serif;
}

footer .col-md-2.col-lg-2.col-xl-2 p a {
    font-family: 'Poppins', sans-serif;
    color: #333333 !important;
    text-decoration: none;
}

footer .col-md-3.col-lg-2.col-xl-2 h6,
footer .col-md-3.col-lg-2.col-xl-2 i {
    color: #333333  !important;
}

footer .col-md-3.col-lg-2.col-xl-2 h6 {
    font-family: 'Archivo Black', sans-serif;
}

footer .col-md-3 p, 
footer .col-md-4 p {
    font-family: 'Poppins', sans-serif;
    color: #333333 !important;
}

footer .col-md-3.col-lg-2.col-xl-2 h6 {
    font-family: 'Archivo Black', sans-serif;
    color: #333333 !important; 
    text-uppercase: uppercase;
    margin-bottom: 1.5rem;
}

footer .col-md-3.col-lg-2.col-xl-2 a i {
    color: #ffffff !important; 
    font-size: 1.2rem;
}

.btn-floating {
    border: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn-floating:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

/* LOCATION STYLE */
.location {
    padding: 6rem 0;
    background: var(--green-primary);
    color: var(--text-dark);
    text-align: center;
    justify-content: center;
}

.location-header h2 {
    font-family: archivo black, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.location-header h2 span {
    font-family: archivo black, sans-serif;
    font-size: 36px;
    color: var(--text-light);
    margin-bottom: 20px;
}


/* RESPONSIVE DESIGN */

/* LAPTOP */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* TABLET */
@media (max-width: 768px) {
    html {
        font-size: 75%;
    }

    /* NAVBAR */

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-container .nav-menu {
        display: flex; /* Pastikan tetap flex */
        flex-direction: column;
        
        position: fixed; /* Mengunci posisi di layar */
        top: 0;          /* Mulai dari paling atas layar */
        right: -100%;    /* Sembunyikan di kanan dulu */
        
        width: 300px;    /* Tentukan lebar pasti */
        height: 100vh;   /* Full setinggi layar */
        background-color: #fff;
        z-index: 9999;   /* Angka tinggi agar selalu di depan */
        
        transition: 0.4s ease; /* Animasi geser */
        padding-top: 80px;     /* Agar menu tidak tertutup header */
        box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    }

    .navbar .navbar-container .nav-menu.active {
        right: 0;
    }

    .navbar .navbar-container .nav-menu a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-container .nav-menu a::after {
        transform-origin: 0 0 ;
    }

    .navbar .navbar-container .nav-menu a:hover::after {
        transform: scaleX(0.2) ;
    }

    /* ABOUT SECTION */
    .about-content .row {
        flex-direction: column;
        text-align: center;
    }
}

/* MOBILE */
@media (max-width: 450px) {
    html {
        font-size: 75%;
    }
}